@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #111111;
  background-color: #ffffff;

  /* soft pastel background */
  background-image:
  radial-gradient(900px 450px at 15% 10%, #e6f0ff 0%, transparent 60%),
  radial-gradient(900px 450px at 85% 15%, #eef7ff 0%, transparent 60%);

  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
